In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv('meteorite_data.csv')

In [5]:
data.head()

,name,id,nametype,recclass,mass,year,reclat,reclong,coordinates
0,Aachen,1,Valid,L5,0.0,1880-01-01,50.77500,6.08333,"[0, 0]"
1,Aarhus,2,Valid,H6,0.0,1951-01-01,56.18333,10.23333,"[0, 0]"
2,Abee,6,Valid,EH4,0.0,1952-01-01,54.21667,-113.00000,"[0, 0]"
3,Acapulco,10,Valid,Acapulcoite,0.0,1976-01-01,16.88333,-99.90000,"[0, 0]"
4,Achiras,370,Valid,L6,0.0,1902-01-01,-33.16667,-64.95000,"[0, 0]"